.content-wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
}

img {
    max-width: 100%; /* Makes images responsive */
}

body {
    background-color: black;
    color:white;
}

h1.korosta {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

h2.korosta {
    font-size: 30px;
    color: white;
    font-weight: 1000;
}

p {
    font-size: 150%;
}

a {
    font-size: 150%;
}

.normal {
    font-size: 100%;
}

button {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: cadetblue;
}

.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 25px;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: auto;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    padding: 10px;
    text-align: left;
    width: 200px;
}

.fixed_header th {
    background-color: darkred;
}

a {
    color: lightblue;
}